.allplayers__container{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.allplayers{
  
    max-width: 850px;
    width: 100%;
    display: flex;    
    flex-wrap: wrap;
}

@media (max-width: 850px){
    .allplayers{
      max-width: 650px;
    }
   
}
@media (max-width: 650px){
    .allplayers{
      justify-content: center;
    }
   
}

